<%= render 'layouts/header' %>

<div id="home_bestplans_wrapper">
  <div id="home_bestplans_title">
    Showing the best mobile plans in <span class="city">Toronto</span>
  </div>
  <div id="home_bestplans_changeregion">
    - <a href="#">Change Region</a> -
  </div>
  <div id="home_bestplans_holder">
    <ul>
    <div class="top_row">
      <li id="plan_box">
        <div>
          <h3 class="price"><sup>$</sup>44.85</h3>
          <%= image_tag "logo_bell.jpg", class: "logo" %>
        </div>
      </li>
    </div>
      <li>
        <div>
          <h3 class="price"><sup>$</sup>41.95</h3>
          <%= image_tag "logo_fido.jpg", class: "logo" %>
        </div>
      </li>
      <li>
        <div>
          <h3 class="price"><sup>$</sup>52.15</h3>
          <%= image_tag "logo_rogers.jpg", class: "logo" %>
        </div>
      </li>
      <li>
        <div>
          <h3 class="price"><sup>$</sup>61.85</h3>
          <%= image_tag "logo_telus.jpg", class: "logo" %>
        </div>
      </li>
      <li>
        <div><h3 class="price"><sup>$</sup>39.05</h3>
          <%= image_tag "logo_bell.jpg", class: "logo" %>
        </div>
      </li>

    </ul>
  </div>
</div>
